/* Base styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box; /* Ensures padding does not affect overall width */
}

#main-header {
  background-color: lightblue;
}

#main-header h1,
#main-header p,
footer p {
  margin: 0;
  padding: 10px 20px;
}

#main-header h1 {
  font-size: calc(18px + 1vw);
  font-family: "Anton", sans-serif;
}

#main-header h1 a {
  text-decoration: none;
  color: black;
}

#main-header p,
.container main h3 {
  font-family: "Anton", sans-serif;
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0px;
}

.main-nav ul li {
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  font-family: "Anton", sans-serif;
  font-size: calc(12px + 0.5vw);
}

.main-nav ul :hover {
  background-color: deepskyblue;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
}

.container main {
  display: flex;
  flex-direction: column;
  padding: 0px 2rem;
  box-sizing: border-box;
  background-color: honeydew;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: lightblue;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: skyblue;
}

.container main h2 {
  color: deepskyblue;
  font-family: "Anton", sans-serif;
  align-self: center;
}

.technologies {
  color: gray;
}

/* home-screen picture styling*/
#about-me {
  display: flex;
  flex-direction: row;
}
#about-me p {
  align-self: flex-end;
  margin-left: 20px;
}

/* calculator styling*/
#calculator-div {
  width: 20rem;
  align-self: center;
  align-content: center;
  border: 4px dotted skyblue;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 25px;
}

.calc-button {
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 0.5rem 1.5rem;
  font-size: calc(12px + 0.5vw);
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Styles for screens larger than 750px */
@media (min-width: 751px) {
  .main-nav {
    flex: 0 0 30%;
    min-width: 200px;
    justify-content: space-around;
  }

  .main-nav ul {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    height: 100%;
    justify-content: space-around;
  }

  .main-nav ul li {
    margin-bottom: 10px;
  }

  .container main {
    flex: 0 0 70%;
  }

  #main-header,
  #main-header h1,
  #main-header p {
    text-align: left;
  }
}

/* Styles for screens 750px or smaller */
@media (max-width: 750px) {
  .container {
    flex-direction: column;
  }

  .main-nav,
  .container main {
    width: 100%;
  }

  .main-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav ul li {
    display: inline;
  }

  #main-header,
  #main-header h1,
  #main-header p {
    text-align: center;
  }
}

/* Responsive adjustments */
@media screen and (max-width: 750px) {
  body {
    margin: 0;
  }

  header,
  main,
  footer {
    padding: 0 10px;
  }
}
