/* Styles for the header with ID 'main-header' */
#main-header {
  background-color: mediumpurple;
}

#main-header h1 {
  text-align: center;
}
#main-header p {
  text-align: center;
}

/* Styles for the navigation with class 'main-nav' */
.main-nav {
  /* styles for navigation bar */
  display: flex;
  flex: 1;
  background-color: aqua;
}

/* .main-nav ul {
  display: block;
  flex-direction: column;
  width: 100%;
  list-style: none;
  background-color: blueviolet;
} */

/* Styles for navigation list items */
.main-nav li {
  display: block;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 2px; /* Adds a small space between menu items */
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
  width: 100%;
}

.main-nav li a {
  text-decoration: none;
  color: black;
  display: block;
}

div {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  flex: 3;
  background-color: red;
  padding: 0 20px;
}

/* Responsive styles */
@media (max-width: 750px) {
  /* Styles for screens 750px wide or smaller */
  .main-nav {
    display: flex;
    flex-direction: row;
  }
  div {
    display: block;
  }
}

@media (min-width: 751px) {
  /* Styles for screens larger than 750px */
  .main-nav {
    max-width: 30%;
  }

  #main-header h1 {
    text-align: left;
  }
  #main-header p {
    text-align: left;
  }
}
